<div class="header-container">
  <h2 class="expense-list-title">
    Expenses
    <button mat-icon-button color="primary" matTooltip="Summary" (click)="showSummary()">
      <mat-icon>assessment</mat-icon>
    </button>
  </h2>
  <button mat-icon-button color="primary" matTooltip="Add expense" (click)="addExpense()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-divider></mat-divider>

<mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort *ngIf="!loading">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let expense">{{ expense.name }}</td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
    <td mat-cell *matCellDef="let expense">{{ expense.amount | currency }}</td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
    <td mat-cell *matCellDef="let expense">{{ expense.category }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let expense">{{ expense.date | date }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let expense">
      <button mat-icon-button color="accent" (click)="editExpense(expense)" matTooltip="Edit expense">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteExpense(expense.id)" matTooltip="Delete expense">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'amount', 'category', 'date', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'amount', 'category', 'date', 'actions'];"></tr>
</table>

<mat-paginator [length]="dataSource.data.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"
  aria-label="Select page"></mat-paginator>