<mat-toolbar color="primary" class="header-toolbar">
    <div class="header-logo">
        <picture (click)="home()">
            <img src="assets/logo.png" alt="Logo" class="logo">
        </picture>
    </div>

    <span class="app-title">Personal Expense Tracker</span>

    <nav class="header-nav">
        <button mat-icon-button>
            <mat-icon (click)="home()" matTooltip="Home">home</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon (click)="viewChart()" matTooltip="Chart View">assessment</mat-icon>
        </button>
    </nav>
</mat-toolbar>